body{
    background-image: url("https://www.gannett-cdn.com/-mm-/a890a0b221257bbeacdf114031d88c89afd4f7cf/c=32-0-548-387/local/-/media/2018/06/17/USATODAY/usatsports/pizza-gettyimages-621463552_large.jpg?width=534&height=401&fit=crop");
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}

h1{
    font-family: 'Bitter', serif;
    text-align: center;
    text-color: 
}
